
.react-multi-carousel-track {
  gap: 1.5rem;
}
.react-multiple-carousel__arrow:hover{
  opacity: 1;
}
.react-multiple-carousel__arrow{
  opacity: .5;
} 
.react-multiple-carousel__arrow--left{
  left: .4rem;
}
.react-multiple-carousel__arrow--right{
  right: .4rem;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  color: #2a0001;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
